build

Thumbs.db
*.pbxuser
*.mode1v3
media
.sconsign*
*~
*.lo
*.o
*.obj
*.la
*.a
*.dylib
*.so
*.log
*.fasl
*.fas
*.ofasl
.libs
.deps
config.status
_darcs
CVS
.svn
.git
.cvsignore
lbui.dll
lbui.exp
lbui.lib
warnings*txt
dbgout.txt
lb-warn*
*.orig

